@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --poppin: 'Poppins', sans-serif;
}

.new {
    display: block;
    width: 50%;
    height: 70vh;
    border: 2px solid rgb(14, 87, 0);
    border-radius: 7px;
    background: transparent;
    float: left;
    margin-left: 25%;
    margin-top: 15vh;
}

.new h3 {
    font-family: var(--poppin);
    text-align: center;
    letter-spacing: 3px;
    font-size: x-large;
    color: rgb(9, 73, 0);
}

.new input {
    width: 90%;
    height: 30px;
    float: left;
    margin-left: 5%;
    margin-top: 4vh;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgba(0, 99, 0, 0.281);
    color:rgb(17, 82, 44);
    font-family: var(--poppin);
    font-size: 1.1rem;
    transition: 0.3s;
}

.new input:hover {
    border-bottom: 2px solid rgba(9, 121, 3, 0.555);
}

.new input:focus {
    border-bottom: 2px solid rgb(16, 105, 4);

}

button {
    width: 20%;
  }
.btn input {
    width: 30%;
    height: 5vh;
    cursor: pointer;
    background: transparent;
    float: left;
    margin-left: 40%;
    margin-left: 35%;
    margin-top: 4vh;
    font-family: var(--poppin);
    /* font-weight: bold; */
    font-size: 1rem;
    border: 2px solid rgb(70, 70, 70);
    transition: 0.3s;
}

button:hover {
    border: darkgreen;
  }
.btn input:hover {
    border: 2px solid rgb(61, 145, 50);
    background: rgb(61, 145, 50);
    color: white;
}

.new a {
    text-decoration: none;
    color: rgb(46, 109, 72);
    font-family: var(--poppin);
    float: left;
    width: 41%;
    margin-left: 5%;
    transition: 0.3s;
}

.new a:hover {
    color: rgb(255, 57, 22);
}
