.users-users {
    width: 90%;
    float: left;
    margin-left: 5%;
}

.razdel {
    display: flex;
    width: 90%;
    height: 40px;
    margin-left: 5%;
    margin-top: 2%;
    background: rgba(0, 77, 23, 0.07);
}

.razdel h5 {
    width: 30%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.5%;
    text-align: center;
}

.users__list {
    display: flex;
    width: 90%;
    height: 40px;
    margin-left: 5%;
    text-align: center;
    border-bottom: 1px solid #000;
    /* background: lightblue; */
}

.users__list h5 {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 0;
    width: 30%;
    margin-left: 1.5;
}

.users__list p {
    width: 30%;
    margin-top: auto;
    margin-right: auto;
    margin-left: 3%;
    margin-bottom: 0;
}