{% extends 'base.html' %}

{% block content %}

<div class="index">

    <div class="blocks">
        <a href="">
            <img src="../static/img/users.png">
            <h4> Ulanyjylar </h4>
            <p> Ulanyjylaryn sanawyny gor </p>
        </a>
    </div>

    <div class="blocks">
        <a href="">
            <img src="../static/img/email.png" class="">
            <h4> Hatlar </h4>
            <p> Menin hatlarym </p>
        </a>
    </div>

    <div class="blocks">
        <a href="">
            <img src="../static/img/send.png">
            <h4> Hat ugrat </h4>
            <p> Taze hat ugrat </p>
        </a>
    </div>
    
    <div class="blocks">
        <a href="">
            <img src="../static/img/account.png">
            <h4> Ulanyjy </h4>
            <p> Ulanyjy barada maglumat </p>
        </a>
    </div>


</div>

{% endblock %}
