{% extends 'base.html' %}

{% block content %}

<div class="index">

    <div class="blocks">
        <img src="../static/img/users.png">
        <h4> Ulanyjylar </h4>
        <p> Ulanyjylaryn sanawyny gor </p>
    </div>

    <div class="blocks">
        <img src="../static/img/email.png">
        <h4> Hatlar </h4>
        <p> Gelen hatlary </p>
    </div>

    <div class="blocks">
        <img src="../static/img/send.png">
        <h4> Hat ugrat </h4>
        <p> Taze hat ugrat </p>
    </div>
    
    <div class="blocks">
        <img src="../static/img/account.png">
        <h4> Ulanyjy </h4>
        <p> Ulanyjy barada maglumat </p>
    </div>


</div>

{% endblock %}
