{% extends 'base.html' %}

{% block content %}
<div class="pdf">

  <h2> Yazgy ugrat </h2>
  <form method="POST" action="/" enctype="multipart/form-data">
    <input type="file" name="file"><br>
    <br>
    <button class="btn btn-outline-info">Submit</button>
  </form>
</div>
<br>
<br>


<div>
  {% for post in post %}
  <h2><b>{{ post.data }}</b></h2>
  <p>Goyulan senesi: {{ moment(post.timestamp).fromNow() }}</p>
  <a href="/{{ post.id }}/delete" class="btn btn-outline-danger">Pozmak</a>
  {% endfor %}
</div>



{% endblock %}
