{% extends 'base.html' %}

{% block content %}
    <form class="loginForm" method="POST" novalidate>
      {{ form.hidden_tag() }}

        <h3> Ulgama gir </h3>

        {{ form.username(size=32, placeholder='Username') }}<br>

        {{ form.surname(size=32, placeholder='Surname') }}<br>

        {{ form.password(size=32, placeholder='Password') }}<br>

        <div class="btn">
          {{ form.submit() }}
        </div>

        <a href="{{ url_for('register') }}"> Taze doret </a>
    </form>
{% endblock %}
