{% extends 'base.html' %}

{% block content %}
    <div class="yazgylar">
        <!-- <div class="back"> <img src="../static/img/back.png" alt="Yza"> </div> -->

        <a href="{{ url_for('new_message') }}" class="tazeYaz"> Taze yaz <img src="../static/img/new.png"> </a>

        <div class="messages">
            <!-- <div class="img">
                <img src="../static/img/user.png" alt="{{ user }}">
            </div> -->
            <h4> Dovran (Hakim) </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quod quia ipsum dolores natus facere dicta neque. In rerum ratione, debitis ea dolor numquam ipsa impedit eligendi quo, recusandae ipsum.</p>
        </div>
    </div>
{% endblock %}