{% extends 'base.html' %}

{% block content %}
    <div class="yazgylar">
        <!-- <div class="back"> <img src="../static/img/back.png" alt="Yza"> </div> -->

        <a href="new-message.html"> Taze yaz <img src="../static/img/new.png"> </a>

        <div class="messages">
            <!-- <div class="img">
                <img src="../static/img/user.png" alt="{{ user }}">
            </div> -->
            {% for post in post %}
            <h4> {{ current_user.username }} {{ current_user.surname }} </h4>
            <h6><b>{{ post.data }}</b></h6>
            <p>Goyulan senesi: {{ moment(post.timestamp).fromNow() }}</p>
            <a class="button" href="/{{ post.id }}/delete">Pozmak</a>
            <a class="button" href="/{{ post.id }}/download">Yuklemek</a>
            {% endfor %}

        </div>

    </div>

{% endblock %}
